<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Control Panel</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/spin.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var username = '{{ username }}';

        namespace = '/vote'; // change to an empty string
        var socket = io.connect(namespace);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        $(document).ready(function(){
            $('form#start').submit(function(event) {
                console.log("clicked start");
                var msg = {}
                msg.name = 'Test';
                msg.abstain = true;

                socket.emit('start_vote', msg);
                return false;
            })
        });
    </script>
</head>
<body>
    <div id="log"></div>
    <form id="start" method="POST" action="#">
        <input type="submit" value="Start Vote">
    </form>
</body>
</html>
