<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="/static/style.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="
https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.7/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var username = '{{ username }}';

        namespace = '/admin'; // change to an empty string
        var socket = io.connect(namespace);
        socket.on('connect', function() {
        });

        $(document).ready(function(){
            socket.on('vote_submitted', function(msg){
                $('#c2').append(msg.name + " submitted their vote.<br>")
                $('#c2').append("Votes Cast: <b>" + msg.votes_cast + "</b>, Votes Left: <b>" + msg.votes_left + "</b><br>");
            });

            socket.on('vote_report', function(msg){
                console.log("Report is:" + msg.report);
                $('#c3').append("----------<br>" + msg.report + "<br>")
            })

            socket.on('receive_not_voted', function(msg){
                $('#c3').append("----------<br>Not Voted: <b>" + msg.names + "</b><br>");
            })

            $('form#start').submit(function(event) {
                var msg = {}
                msg.name = $('#name').val();
                msg.abstain = $("input[name='abstain']:checked").val();

                socket.emit('start_vote', msg);
                $('#c2').append("<br>Voting on <b><u>[" + msg.name + "]</u></b><br>");
                return false;
            })

            $('form#end').submit(function(event) {
                socket.emit('end_vote');
                return false;
            })

            $('form#names').submit(function(event) {
                socket.emit('get_not_voted');
                return false;
            })

            // Catch window closing event and send a socket disconnect event
            window.onbeforeunload = function(){
                socket.emit('disconnect_req');
            }
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="c1">

        </div>

        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div id="c1" style="width: 33%; display: table-cell;">
                    <form id="start">
                        <input type="text" name="name" id="name" placeholder="Rush Name"> <br />
                        <label><input type="radio" name="abstain" value="true">Abstain</label>
                        <label><input type="radio" name="abstain" value="false">No Abstain</label> <br />
                        <input type="submit" value="Start Vote">
                    </form>
                    <form id="end">
                        <input type="submit" value="End Vote">
                    </form>
                </div>

                <div id="c2" style="width: 33%; display: table-cell;overflow-y: scroll;"></div>
                <div id="c3" style="width: 34%; display: table-cell;overflow-y: scroll"></div>
            </div>
        </div>
</body>
</html>
