<!DOCTYPE HTML>
<html>
<head>
    <title>Bid Night 2016F</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var username = '{{ username }}';

        namespace = '/vote';
        var socket = io.connect(namespace);

        socket.on('connect', function() {
            $('#log').append('Waiting for voting to start...');
        });

        // Catch window closing event and send a socket disconnect event
        window.onbeforeunload = function(){
                socket.emit('disconnect_req');
        }
    </script>
</head>
<body>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
