<!DOCTYPE HTML>
<html>
<head>
    <title>Bid Night 2016F</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var username = '{{ username }}';

        namespace = '/vote';
        var socket = io.connect(namespace);

        $(document).ready(function(){
            var target = document.getElementById("log");
            socket.on('connect', function() {
                target.innerHTML = '<p>Waiting for voting to start...</p>';
            });

            socket.on('vote_start', function(msg){
                target.innerHTML = '<p>Voting on ' + msg.name + ' started with abstain=' + msg.abstain + '</p>';
            });

            // Catch window closing event and send a socket disconnect event
            window.onbeforeunload = function(){
                    socket.emit('disconnect_req');
            }
        });
    </script>
</head>
<body>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
