<!DOCTYPE HTML>
<html>
<head>
    <title>Bid Night 2016F</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/timer.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var username = '{{ username }}';

        namespace = '/vote';
        var socket = io.connect(namespace);
        var waiting = false;

        $(document).ready(function(){
            var wait_message = 'Waiting for voting to start';
            var target = document.getElementById("log");

            target.innerHTML = wait_message;

            var dots = $.timer(function() {
                if ( target.innerHTML.length > wait_message.length + 3 )
                    target.innerHTML = wait_message;
                else
                    target.innerHTML += ".";
            }, 230, true);

            socket.on('connect', function() {
            });

            socket.on('vote_start', function(msg){
                dots.pause();
                var html_form = '<h4> Should ' + msg.name + ' receive a bid?</h4> \
                <form id="cast"> \
                <label><input type="radio" name="bid" value="yes">YES</label> \
                <label><input type="radio" name="bid" value="no">NO</label>';

                if(msg.abstain){
                    html_form += '<label><input type="radio" name="bid" value="abstain">Abstain (DISCOURAGED)</label>';
                }

                html_form += '<br><input type="submit" value="Cast"></form>'

                console.log('Voting on ' + msg.name + ' started with abstain=' + msg.abstain);
                target.innerHTML = html_form;
            });

            $('form#cast').submit(function(e){
                console.log("submitted vote");
                dots.play(true);

                msg = {}
                msg.bid = $("input[name='bid']:checked").val()
                socket.emit('submit_vote', msg);
            });

            // Catch window closing event and send a socket disconnect event
            window.onbeforeunload = function(){
                socket.emit('disconnect_req');
            }
        });
    </script>
</head>
<body>
    <h2>Receive:</h2>
    <div id="log"></div>
</body>
</html>
